Repository ZachNewbery/CS3099-A9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_backend, trigger_frontend

.gitlab-ci.yml:

stages:
  - triggers

# Since the components in the frontend and the backend are quite dissimilar, we will use the "child/parent pipeline".
# Read more: https://docs.gitlab.com/ee/ci/pipelines/pipeline_architectures.html#child--parent-pipelines
  
trigger_backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/**/*

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend
  rules:
   - changes:
      - frontend/**/*

remove debug
  backend/src/internal/posts.rs
Due: trigger_backend

Final Final, this time for sure....
  frontend/src/Home.js
  frontend/src/communities/ListPosts.js
  frontend/src/posts/Comments.js
  frontend/src/posts/Posts.js
  frontend/src/posts/SinglePost.js
Due: trigger_frontend

Update setup.md > README.md
  backend/setup.md
Due: trigger_backend

Added overall instructions for running platform locally.
  README.md
Due: none

Create README.md
  backend/README.md
Due: trigger_backend

Update README.md
  README.md
Due: none

Re-upload file with removed history.
  frontend/.gitlab-cl.yml
Due: trigger_frontend
